*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: sans-serif;
}
.container{
    width:1320px;
    margin:0 auto;
    
}

.main{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    font-size:16px;
    
}
.item{
    width:32%;
    padding:20px;
    background-color:blueviolet;
    color:white;
    margin-bottom:20px;
    border-radius: 10px;
    margin-top:10px;
}
.item_1{
    width:600px;
    padding:20px;
    background-color:green;
    color:white;
    margin-bottom:20px;
    border-radius: 10px;
    text-align: center;
   
}
.detels{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;
    font-size:16px;
    
}
button{
    width:100%;
    margin-top: 10px;
    background-color: yellow;
    border-radius: 10px;
    padding:7px;
}
input{
    outline: none;
}
h2{
    margin-bottom: 10px;
}